#input-area {
  display: none;
}

.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: beige;
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  border-bottom: 2px solid black;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

.icon-box {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

#search-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 33px;
  padding-left: 10px;
  margin-top: 3px;
}

.icon-button {
  padding: 8px 9px 9px;
  margin-top: 3px;
}

.icon-button:hover {
  background-color: rgb(247, 247, 247);
}

.search-button {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  height: 32px;
  border-radius: 3px;
}

.news-img-size {
  max-width: 100%;
  width: 416px;
  max-height: 250px;
  height: 250px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .icon-button {
    display: inline !important;
    /* 필요에 따라 !important를 사용하여 우선순위를 높일 수 있습니다. */
  }
  .menus {
    display: none;
  }
  .head-line {
    margin-bottom: 16px;
  }
}
